<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>crud de carros</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="shortcut" href="favicon.ico">
    <link rel="stylesheet" href="{{ url_for('static', path='css/main.css') }}">


</head>
<style>
    .rodape {
        bottom: 0;
        margin-left: 150px;
        position: fixed;
        width: 100%;
    }

    a{
        color: aliceblue;
        text-decoration: none
    } 

</style>
<body>
    <div class="container">
        <h1 class="page-header text-center">API RestFul utilizando o framework FastAPI <br> CRUD (Create, Read, Update, Delete)</h1>
        <h2 class="page-title text-center">Biblioteca de carros</h2>
        {% block content %}
        
        {% endblock content %}
    </div>
    <footer class="rodape">
        <h3 class="footer">Para maiores informacoes visite: /docs</h3>
        <button id="botao-docs" class="btn btn-primary mb-4" target="_blank"><a href="http://localhost:7777/docs">Entrar</a></button>
        </footer>
</body>
</html>