{% extends 'base.html' %}

{% block content %}

<form action="/update/{{veiculos.id}}" method="post">

    <div class="mb-3">
        <label>Marca</label>
        <input type="text" name="marca" placeholder="" class="form-control" value="{{veiculos.marca}}"/>
    </div>
    <div class="mb-3" hidden>
        <label>Placa</label>
        <input type="text" name="placa" placeholder="" class="form-control" value="{{veiculos.placa}}"/>
    </div>

    <div class="mb-3">
        <label>Modelo</label>
        <input type="text" name="modelo" placeholder="" class="form-control" value="{{veiculos.modelo}}"/>
    </div>

    <div class="mb-3">
        <label>Cor</label>
        <input type="text" name="cor" placeholder="" class="form-control" value="{{veiculos.cor}}"/>
    </div>

    <input type="submit" value="submit" class="btn btn-primary mb-3"/>
</form>


{% endblock content %}