{% extends 'base.html' %}

{% block content %}
 <div class="row">
    <div class="col-12">
        <a href="addnew" class="btn btn-outline-primary">Adicionar veículo</a> <br><br>
        <div class="search-bar">
            <input type="search" id="form1" placeholder="Pesquisar" class="border-primary-subtle">
            <select class="border-black">
                <option selected>Filtrar</option>
                <option value="1">Teste2</option>
                <option value="2">Teste3</option>
                <option value="3">Teste4</option>
              </select>
        <div>
            <br>
       </div>
        </div>
        <table class="table table-bordered border-primary-subtle table-striped">
            <thead>
                <tr>
                    <th width="50">Visualizar</th>
                    <th>Id</th>
                    <th>Placa</th>
                    <th>Marca</th>
                    <th>Modelo</th>
                    <th>Cor</th>
                    <th width="180">Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for rs in veiculos %}
                    <tr>
                        <td>
                            <a href="ver/{{ rs.id }}" class="btn btn-outline-primary ">+Info</a>
                        </td>
                        <td>{{ rs.id }}</td>
                        <td>{{ rs.placa }}</td>
                        <td>{{ rs.marca }}</td>
                        <td>{{ rs.modelo }}</td>
                        <td>{{ rs.cor }}</td>
                        <td>
                            <a href="edit/{{ rs.id }}" id="btn-editar" class="btn btn-outline-success">Editar</a>   |   <a href="delete/{{ rs.id }}" class="btn btn-outline-danger">Deletar</a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
 </div>

 {% endblock content %}