{% extends 'base.html' %}

{% block content %}

<div class="card">
    <div class="card-image">
        <img src="/static/css/imagemtestecarro.jpg" alt="" style="width: 300px;">
    </div>

    <p class="card-title">Detalhes do carro
        <p>Carro imaginário - x</p>
    </p>
    <p class="card-body">
        Nullam ac tristique nulla, at convallis quam. Integer consectetur mi nec magna tristique, non lobortis.
    </p>

    <ul>
        <li>Placa</li>
        <li>Manutenção</li>
        <li>KM rodados</li>
        <li>IPVA</li>
    </ul>

    <a href="favoritos/{{ veiculo_id }}" class="btn btn-outline-warning favoritar-btn" onclick="toggleFavoritar()">
    &#x2605; <!-- Emoji de estrela -->
</a>

</div>

<style>
    #favoritar-btn {
      color: black;
        font-size: 30px;
        cursor: pointer;
        transition: color 0.3s; /* Adicionada a transição para border-radius */
        border-radius: 50%; /* Torna o botão redondo */
        text-decoration: none;
    }

    #favoritar-btn.favoritado {
        color: gold; /* Cor da estrela quando favoritado */
    }
</style>

{% endblock content %}
